/* Googel Font link  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Universal Selector  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --primary-color: #fff;
    --secondary-color: #eaf0ff;
    --tertiary-color: #f2745f;
    --footer-color: #363e50;
    --dark-color: #a9a4abc7;
    --White-color: #fff;
    --text-color: #f2745f;
    --text-black: #000;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-18: 18px;
    --fs-44: 44px;
    --fs-24: 24px;
    --fs-22: 22px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-black);
}

img {
    display: block;
    max-width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 12px;
    padding-right: 12px;
}

header {
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 30vh;
    padding: 0 0 35px 0;
}

header .container #brand {
    text-align: center;
    margin-bottom: 45px;
}

header .container #brand a {
    font-size: 42px;
    font-style: italic;
    text-decoration: none;
    color: rgb(36, 36, 36);
    padding: 40px 0;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
}

nav ul li a {
    margin-right: 40px;
    align-items: center;
    text-transform: uppercase;
}

main .banner {
    background-image: url(../Assets/IMG/banner-bg.jpg);
    padding: 185px 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.banner .row h3,
h2,
p,
button {
    color: var(--White-color);
}

.banner .row h3 {
    text-transform: uppercase;
    font-weight: var(--fw-700);
    font-size: var(--fs-15);
    letter-spacing: 0.6px;
    font-family: "Roboto", sans-serif;
}

.banner .row h2 {
    font-size: var(--fs-44);
    font-weight: var(--fw-400);
    text-transform: uppercase;
    margin: 0 20px 10px 0;
    font-family: "Spectral", sans-serif;
}

.banner .row p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.banner .row button {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    letter-spacing: 0.6px;
    cursor: pointer;
}

/* Cook Section  */

.cook-section {
    padding: 120px 0;
}

.cook-section .container .col-3 .first-img img {
    width: 100%;
    margin-left: 24px;
    margin-top: 18%;
}

.cook-section .container .col-3 .second-img img {
    width: 100%;
    margin-left: -24px;
    margin-top: 18%;
}

.cook-section .content {
    background-color: var(--tertiary-color);
    text-align: center;
    padding: 30px;
    color: var(--White-color);
    text-transform: uppercase;
}

.cook-section .content h4 {
    margin-bottom: 20px;
    font-size: var(--fs-22);
    font-weight: var(--fw-700);
    letter-spacing: 0.6px;
    font-family: "Roboto", sans-serif;
}

.cook-section .contact {
    background-color: #f3826f;
    padding: 20px 30px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
}

.cook-section .contact span {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.cook-section .contact h5 {
    font-size: var(--fs-24);
    font-weight: var(--fw-700);
    letter-spacing: 0.6px;
    margin: 12px 0;
}

.cook-section .col-4 #or {
    padding: 8px 7px;
    font-size: 11px;
    border-radius: 50%;
    line-height: 25px;
    border: 1px solid #da6856;
    display: inline-b;
    text-align: center;
}

.cook-section .col-4 .btn button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    letter-spacing: 0.6px;
    cursor: pointer;
    color: var(--text-color);
}

/* Dishes Section  */

.dishes {
    margin-bottom: 95px;
}

.dishes .dish {
    text-align: center;
}

.dishes .dish img {
    border: 10px solid var(--secondary-color);
    border-radius: 50%;
    margin-bottom: 15px;
    max-width: 100%;
    display: inline-block;
}

.dishes .dish h4 {
    font-size: var(--fs-22);
    font-weight: var(--fw-600);
    text-transform: capitalize;
    font-family: "Spectral", sans-serif;
}

/* Book Table  */

.book-table {
    background-image: url(../Assets/IMG/book-bg.jpg);
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.book-table .heading h2 {
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}

.book-table .col-4 .img {
    width: 100%;
}

.book-table .col-4 .right-form {
    height: 290px;
    background-color: var(--White-color);
    margin-left: -30px;
    padding: 30px;
}

.book-table .col-4 .right-form fieldset {
    border: 0;
}

.book-table .col-4 .right-form h4 {
    font-size: var(--fs-24);
    text-transform: capitalize;
    font-weight: var(--fw-500);
    margin-bottom: 15px;
}

.book-table .right-form select {
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #9a9a9a;
    padding-left: 10px;
    height: 40px;
}

.book-table .right-form input {
    height: 40px;
    width: 100%;
    box-shadow: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #9a9a9a;
}

.book-table .right-form button {
    width: 100%;
    display: inline-block;
    background-color: var(--tertiary-color);
    color: var(--White-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
}